@font-face {
    font-family: 'rainyhearts';
    src: url('fonts/rainyhearts.woff2') format('woff2'),
        url('fonts/rainyhearts.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EmojiFont';
    src: url('fonts/EmojiFont.woff2') format('woff2'),
        url('fonts/EmojiFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

