.hud-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 80vw;
  font-size: 1.25rem;
  background-color: var(--secondary-bg);
  padding: 0px 20px;
}

.neocities-logo {
  display: flex;
  align-items: center;
}

.neocities-logo img {
  height: 40px;
  margin-bottom: -6px;
}

#on-air {
  font-weight: normal;
  font-size: 1.5rem;
  margin-left: auto;
  display: block;
}

#on-air(.on) #on-air-light {
  font-weight: bold;
  text-shadow: var(--accent-fg) 0 0 12px;
}

#on-air-light {
  padding: 8px;
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  border-radius: 3px;
}

#on-air-not {
  font-size: 1.25rem;
}

a {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: url("../img/pointer.png"), auto;
}

#media-player {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 100%;
}

.transport {
  height: fit-content;
  background-color: var(--accent-bg);
  padding: 6px;
  border-radius: 3px;
  font-size: 1rem;
  display: flex;
  gap: 10px;
}

.transport img {
  width: 100%;
  height: 24px;
  transform: translateY(2px);
  cursor: url('../img/pointer.png'), auto;
}

.play-button .play-state {
  display: none;
  margin-bottom: 4px;
}

.play-button.paused .play-state {
  display: block;
}

.play-button.paused .pause-state {
  display: none;
}

.play-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.random-button .on-state { 
  display: none;
}

.random-button.on .on-state {
  display: block;
}

.random-button.on .off-state {
  display: none;
}

.waveform {
  flex-grow: 1;
  max-height: 80px;
  cursor: url("../img/pointer.png"), auto;
}

.waveform ::part(cursor) {
  display: none;
}

@media (max-height: 600px) {
  :host {
    font-size: 1.25rem;
  }
  
  .on-air-light {
    padding: 4px;
  }
  
  .on-air-not {
    font-size: 1rem;
  }
}

@media (max-height: 600px) {
  .neocities-logo img {
    height: 20px;
    margin-bottom: -5px;
  }
}
