main {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav page ."
    "footer footer footer"
  ;

  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: min-content 1fr 0.15fr;
  overflow: hidden;
}

main > * {
  padding: 20px;
}

header {
  grid-area: header;
  height: min-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

header #header-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header #header-message subtitle {
  font-family: EmojiFont;
}


nav a {
  font-size: 1.25rem;
  font-weight: 600;
}

nav h2 {
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 5px dotted var(--accent-bg);
  margin-bottom: 4px;
}

nav a.active:before {
  content: ">|";
}


nav a:hover::before {
  font-family: EmojiFont;
  content: "B";
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  padding: 0px 40px;
}

nav > #nav-bounding {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  padding-top: 25px;
  max-height: 100%;

  max-width: max-content;
  height: max-content;
}

#nav-bounding > div {
  width: 100%;
  height: max-content;
  background-color: var(--secondary-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 25px 5px;

  max-height: 22vh;
  overflow-y: scroll;
}

#page {
  grid-area: page;

  min-height: 60vh;
  height: min-content;
  max-height: 90%;
  width: 100%;

  overflow: scroll;

  background-color: var(--secondary-bg);
}

#page > section {
  padding: 10px 0px;
  margin: 5px 0px;
}

#page h2 {
  margin-bottom: 10px;
}

#page p {
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: 10px;
}

#hud {
  grid-area: footer;

  width: 100%;
  display: flex;
  justify-content: center;
}

#hud-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  min-width: 80vw;

  font-size: 1.25rem;

  background-color: var(--secondary-bg);
  padding: 20px;
}

#hud-bar #neocities-logo img{
  height: 30px;
  margin-bottom: -10px;
}

#hud #on-air-sign {
  font-weight: normal;
  font-size: 1.5rem;
  margin-left: auto;
}

#hud #on-air-sign.on #on-air-light{
  font-weight: bold;
  text-shadow: var(--accent-fg) 0 0 12px;
}

#hud #on-air-sign #on-air-light {
  padding: 10px;
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  border-radius: 3px;
}

#hud #on-air-sign #on-air-not {
  font-size: 1.25rem;
}
