header #header-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header #header-message subtitle {
  font-family: EmojiFont;
}

@media (max-height: 800px) {
  header h1 {
    font-size: 1.5rem;
  }

  header subtitle {
    font-size: 1rem;
  }
}
