main {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav page ."
    "footer footer footer"
  ;

  grid-template-columns: min-content 1fr 0.15fr;
  grid-template-rows: min-content 1fr min-content;
  overflow: hidden;
}

#header {
  grid-area: header;
  height: min-content;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  border-bottom: 4px dotted var(--accent-bg);
  margin: 10px;
}

#header > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

#header .tamaNOTchi {
  animation: 0.26s infinite alternate bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(1px;)
  }

  50% {
    transform: translateY(-2.75px;)
  }

  75% {
    transform: translateY(-3.5px);
  }

  100%{
    transform: translateY(-4px);
  }
}

#page {
  grid-area: page;

  width: 100%;

  overflow: scroll;

  background-color: var(--secondary-bg);

  padding: 32px;
  margin-right: 8px;
}

#page header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

#page p {
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: 10px;
}

#page section {
  margin-bottom: 20px;
}

#nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  padding: 0px 40px;
}

#hud {
  grid-area: footer;

  position: relative;
  bottom: 0;

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
}

@media (max-height: 875px) {
  main {
    grid-template-areas: 
      "header header header"
      "nav page ."
      ". footer ."
    ;
  }
}
