main {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav page ."
    "footer footer footer"
  ;

  grid-template-columns: min-content 1fr 0.15fr;
  grid-template-rows: min-content 1fr min-content;
  overflow: hidden;
}

header {
  grid-area: header;
  height: min-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

#page {
  grid-area: page;

  height: ;
  width: 100%;

  overflow: scroll;

  background-color: var(--secondary-bg);

  padding: 20px;
}

#page h2 {
  margin-bottom: 10px;
}

#page p {
  font-weight: 700;
  line-height: 1.25rem;
  margin-bottom: 10px;
}

#page section {
  margin-bottom: 20px;
}

@media (max-height: 800px) {
  main {
    grid-template-areas: 
      "header header header"
      "nav page ."
      ". footer ."
    ;
  }
}
