#nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  padding: 0px 40px;
}

#nav a {
  font-size: 1.25rem;
  font-weight: 600;
}

#nav h2 {
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 5px dotted var(--accent-bg);
  margin-bottom: 4px;
}

#nav a.active:before {
  content: ">|";
}

#nav a:hover::before {
  font-family: EmojiFont;
  content: "B";
}

#nav > #nav-bounding {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  padding-top: 25px;
  max-height: 100%;

  max-width: max-content;
  height: max-content;
}

#nav-bounding > div {
  width: 100%;
  height: max-content;
  background-color: var(--secondary-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  padding: 25px 5px;

  max-height: 22vh;
  overflow-y: scroll;
}


@media (max-height: 800px) {
  #nav-bounding > div {
    padding: 12px 3px;
  }

  #nav h2 {
    font-size: 1.25rem;
  }

  #nav a {
    font-size: 1rem;
  }

}
