:root {
  --bg: #f7f2da;
  --fg: #2e2d2a;
  --shadow: #2e2d2add;
  --accent-bg: #517a4c;
  --accent-fg: #f2f1e9;
  --accent-pink: #f5b0e1;
  --pink: #f777d2;

  --secondary-bg: #fffbe0;
}

/*.your-style {*/
/*    font-family: 'rainyhearts';*/
/*}*/

/*.your-style {*/
/*    font-family: 'EmojiFont';*/
/*}*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  color: var(--fg);
  background-color: var(--bg);
  height: 100%;
}

body {
  font-family: 'rainyhearts' ;
  height: 100%;
}

a {
  color: var(--pink);
  text-decoration: none;
}

a:visited {
  color: var(--pink);
}

a:hover {
  color: var(--accent-pink)
}

a:visited:hover {
  color: var(--accent-pink)
}

a.no-style {
  color: inherit;
}

a.disabled {
  pointer-events: none;
}

.shadow {
  box-shadow: 8px 8px 2px 0px var(--shadow);
}

.underline {
  border-bottom: 5px dotted var(--accent-bg)
}

main {
  height: 100%;
  width: 100%;
  
  display: grid;
  grid-template-areas: 
    "header header"
    "nav page"
    ". ."
  ;

  grid-template-columns: min-content 2fr;
  grid-template-rows: min-content 1fr 0.25fr;
}

header {
  grid-area: header;
  height: min-content;
  padding: 30px;
}

header #construction {
  display: flex;
  justify-content: center;
}

nav {
  position: sticky;
  top: 15vh;

  background-color: var(--secondary-bg);
  
  min-width: 125px;
  height: max-content;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 40px 10px;
  margin: 35px;

  grid-area: nav;
}

nav a {
  font-size: 1.5rem;
  font-weight: semi-bold;
}

nav h2 {
  font-weight: bold;
  font-size: 1.75rem;
  border-bottom: 5px dotted var(--accent-bg);
}

nav a.active {
  text-decoration: underline;
}

nav a:hover::before {
  font-family: EmojiFont;
  content: "B";
}

#page {
  grid-area: page;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 40px;
  height: 100%;
  max-width: 75vw;
  background-color: var(--secondary-bg)
}

#hud {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#hud-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  min-width: 80vw;
  background-color: var(--secondary-bg);
  padding: 25px;
  margin: 20px;
}

#hud-bar #neocities-logo img{
  height: 30px;
  margin-bottom: -10px;
}

#hud #on-air-sign {
  font-weight: normal;
  font-size: 1.5rem;
  margin-left: auto;
}

#hud #on-air-sign.on #on-air-light{
  font-weight: bold;
  text-shadow: var(--accent-fg) 0 0 12px;
}

#hud #on-air-sign #on-air-light {
  padding: 10px;
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  border-radius: 3px;
}

#hud #on-air-sign #on-air-not {
  font-size: 1.25rem;
}
