:root {
  --bg: #c7edc2;
  --fg: #2e2d2a;
  --shadow: #2e2d2add;
  --accent-bg: #6b9466;
  --accent-fg: #f2f1e9;
  --accent-pink: #f5b0e1;
  --pink: #f777d2;

  --secondary-bg: #f7f7e9;
}

/*.your-style {*/
/*    font-family: 'rainyhearts';*/
/*}*/

/*.your-style {*/
/*    font-family: 'EmojiFont';*/
/*}*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  scrollbar-color: var(--accent-bg) var(--accent-fg);
  scrollbar-width: auto;
}

html {
  color: var(--fg);
  background-color: var(--bg);
  height: 100%;
  cursor: url("../img/Cursor.png") 20 17, auto;
  max-width: 100vw;
}

body {
  font-family: 'rainyhearts' ;
  height: 100%;
  max-width: 100vw;
}

a {
  color: var(--pink);
  text-decoration: none;
}

a:visited {
  color: var(--pink);
}

a:hover {
  color: var(--accent-pink);
  cursor: url("../img/pointer.png"), auto;
}

a:visited:hover {
  color: var(--accent-pink)
}

a.no-style {
  color: inherit;
}

a.disabled {
  pointer-events: none;
}

.shadow {
  box-shadow: 8px 8px 2px 0px var(--shadow);
}

.underline {
  border-bottom: 5px dotted var(--accent-bg)
}

.hover-move {
  transform: translate(0, 0);
  transition: transform 0.05s;
}

.hover-move:hover {
  transform: translate(4px, 4px);
}

.emoji {
  font-family: EmojiFont;
}

.small-text {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.tooltip {
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  font-weight: bold;
  padding: 4px 8px;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  z-index:99999999;
}

.tooltip[data-show] {
  opacity: 1;
  width: fit-content;
  height: auto;
}

.arrow, .arrow::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: 2px;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}


.tooltip[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='left'] > .arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='right'] > .arrow {
  left: -4px;
}

.flip {
  display: inline-block;
  transform: scale(-1, 1);
}

.hat {
  display: inline-block;
  transform: translateY(-8px);
}

.hat.flip {
  transform: translateY(-8px) scale(-1, 1);
}

.text-center {
  text-align: center;
}

.text-indent {
  text-indent: 1.5rem;
}
