<template>
  <link rel="stylesheet" href="/css/components/side-nav.css">
  <nav id="nav">
    <div id="nav-bounding">
      <div class="shadow hover-move" id="site-links">
        <h2><span class="emoji">R</span>Internal<span class="emoji">Q</span></h2>
        <a href="/">Home</a>
      </div>
    
      <div class="shadow hover-move">
        <h2><span class="emoji flip">Q</span>External<span class="emoji flip">R</span></h2>
        <a href="https://less-than-three.atabook.org" target="_blank" aria-describedby="nav-atabook-tooltip" id="nav-atabook">Guestbook</a>
        <a href="https://www.wmpg.org/show/sun2300/" target="_blank" aria-describedby="nav-radio-tooltip" id="nav-radio">Radio</a>
        <a href="https://github.com/cae-lim" target="_blank" id="nav-github" aria-describedby="nav-github-tooltip">Github</a>
        <a href="https://www.tumblr.com/blog/ammonia-screw-666" target="_blank" id="nav-tumblr" aria-describedby="nav-tumblr-tooltip">Tumblr</a>
        <a href="https://keys.openpgp.org/search?q=caelouwho%40gmail.com" target="_blank" id="nav-openpgp" aria-describedby="nav-openpgp-tooltip">PGP Key</a>
      </div>
    
      <div class="shadow hover-move">
        <h2><span class="emoji flip hat">z</span>Featured<span class="emoji hat">z</span></h2>
        <a href="https://www.reaper.fm/" target="_blank" id="nav-reaper" aria-describedby="nav-reaper-tooltip">Reaper</a>
        <a href="https://sdaw.neocities.org" target="_blank" id="nav-sdaw" aria-describedby="nav-sdaw-tooltip">SDaw</a>
        <a href="https://strudel.cc" target="_blank" id="nav-strudel" aria-describedby="nav-strudel-tooltip">Strudel</a>
        <a href="https://www.dafont.com/emoji.font" target="_blank" id="nav-emojis" aria-describedby="nav-emojis-tooltip">Emojis</a>
        <a href="https://www.piskelapp.com/p/create/sprite/" target="_blank" id="nav-piskel" aria-describedby="nav-piskel-tooltip">Piskel</a>
      </div>
    </div>
    
    <div>
      <div class="tooltip" id="nav-atabook-tooltip">
        <div class="tooltip-content">Sign my guestbook!</div>
        <div class="arrow" data-popper-arrow></div>
      </div>
      <div class="tooltip" id="nav-radio-tooltip">
        <div class="tooltip-content">View my archives, hit [Listen Now] to listen live!</div>
        <div class="arrow" data-popper-arrow></div>
      </div>
      <div class="tooltip" id="nav-github-tooltip">
        <div class="tooltip-content">Check out all my abandoned projects! (and the code for this site)</div>
        <div class="arrow" data-popper-arrow></div>
      </div>
      <div class="tooltip" id="nav-tumblr-tooltip">
        <div class="tooltip-content">Follow me on tumblr!</div>
        <div class="arrow" data-popper-arrow></div>
      </div>
      <div class="tooltip" id="nav-openpgp-tooltip">
        <div class="tooltip-content">my Openpgp public key</div>
        <div class="arrow" data-popper-arrow></div>
      </div>
      <div class="tooltip" id="nav-sdaw-tooltip">
        <div id="tooltip-content">Awesome music creation tool hosted on neocities!</div>
        <div class="arrow" data-popper-arrow></div>
      </div>
      <div class="tooltip" id="nav-strudel-tooltip">
        <div class="tooltip-content">
          Music live coding platform, just try it.
        </div>
        <div class="arrow" data-popper-arrow></div>
      </div>
      <div class="tooltip" id="nav-emojis-tooltip">
        <div class="tooltip-content">The emoji font I use on this site <span class="emoji">m</span></div>
        <div class="arrow" data-popper-arrow></div>
      </div>
      <div class="tooltip" id="nav-reaper-tooltip">
        <div class="tooltip-content">My DAW of choice <span class="emoji">k</span></div>
        <div class="arrow" data-popper-arrow></div>
      </div>
      <div class="tooltip" id="nav-piskel-tooltip">
        <div class="tooltip-content">Easy to use pixel art editor</div>
        <div class="arrow" data-popper-arrow></div>
      </div>
    </div>
  </nav>
</template>
